/** 初始化 **/

html,
body {
    width: 100%;
    height: 100%;
	background-color: #070b12;
	margin: 1px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
blockquote,
th,
td,
form,
pre {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
}

body {
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
    font-family: "Microsoft YaHei";
    background: #070b12;
}

a:active,
a:hover {
    outline: 0
}

img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3 {
    font-size: 14px;
    font-weight: 400;
}

h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


/** 滚动条 **/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: rgba(14, 148, 234, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .35);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .38);
}


/*下拉框*/


.data-box {
    width: 4.9rem;
    position: absolute;
    margin: auto;
    top: 0.42rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.chart-box {
    position: absolute;
    top: 0.42rem;
    bottom: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    height: auto;
}

.container-flex {
    width: 100%;
    height: 90%;
    background-size: 100% 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    outline: none;
}
.topTitle{
	width: 100%;
	height: 10%;
	background-size: 100% 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	outline: none;
}

.nav{

    width: 35%;
}

.nav>ul{
    position:absolute;
    top: 0;
}
.nav>ul>li{
    display: inline-block;
    width: 110px;
    text-align: center;
    height: 50px;
    position: relative;
    line-height: 50px;
    box-sizing: border-box;
    /*box-shadow: -5px 0px 5px #034c6a inset, !*å·¦è¾¹é˜´å½±*!*/
    /*0px -5px 15px #034c6a inset, !*ä¸Šè¾¹é˜´å½±*!*/
    /*5px 0px 15px #034c6a inset, !*å³è¾¹é˜´å½±*!*/
    /*0px 5px 15px #034c6a inset;*/
    border-radius: 2px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
}

.nav>ul>li:hover{

    box-shadow: -10px 0px 15px #034c6a inset, /*å·¦è¾¹é˜´å½± */
    0px -10px 15px #034c6a inset, /*ä¸Šè¾¹é˜´å½±*/
    10px 0px 15px #034c6a inset, /*å³è¾¹é˜´å½±*/
    0px 10px 15px #034c6a inset;
    border-bottom: solid #4b8df8;
    box-sizing: border-box;

}
.nav>ul>li i{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.nav>ul>li>a{
    color:#FFFFff;
    opacity: 0.9;
    /*display: inline-block;*/
    /*padding: 0 15px 0 5px;*/
    font-family: "黑体";
    font-size: 16px;
    position: absolute;
    top:4px;
    bottom: 4px;
    right:4px;
    left:4px;
    text-decoration: none;
}
/*.nav>ul>li:hover .li_ul{*/
    /*display: block;*/
/*}*/
.left{
    float: left;
}
.right{
    float: right;

}
.li_ul{
    position: absolute;
    top:2%;
    background-color: #030829;
    /*border-top:4px solid #4b8df8;*/
    display: none;
    z-index: 999;

}
.li_ul li{
    line-height: 10px !important;
    font-size: 16px;
    position:absolute;
    top:4px;
    bottom: 4px;
}
.li_ul li:hover{
    background-color: #4b8df8;
}
.li_ul li a{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;

}

.nav_1{
     background-image: url("../images/data_icon.png");
 }
.nav_2{
    background-image: url("../images/select_icon.png");
}
.nav_3{
    background-image: url("../images/nav_3.png");
}
.nav_4{
    background-image: url("../images/nav_4.png");
}
.nav_5{
    background-image: url("../images/nav_5.png");
}
.nav_6{
    background-image: url("../images/nav_6.png");
}


.center-topTitle {
    width: 50%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    background: url(../images/title_border.png) bottom center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-topTitle>h1 {
    color: #cdddf7;
    font-size: 0.35rem;
    font-weight: 900;
    letter-spacing: 5px;
}

.box-center {
    width: 100%;
    height: 100%;
    /*    background: green;*/
}

.title-box {
    width: 4.6rem;
    height: 0.42rem;
    background: url(../images/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.center-top {
    width: 100%;
    height: 22%;
    background: #070b12;
    position: relative;
}

.center-top>.city-data {
    width: 8.05rem;
    height: 100%;
    margin: auto;
    position: absolute;
}

.center-center {
    width: 100%;
    height: 23%;
    background: #070b12;
    position: relative;
}
.center-bottom {
    width: 100%;
    height: 55%;
	background: #070b12;
    position: relative;
}

.box-center>.center-top>.chart-box {
    width: 80%;
    height: 100%;
    background: #070b12;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;

}

.box-center>.center-center>.chart-box {
    width: 80%;
    height: 100%;
    background: #070b12;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;

}

.box-center>.center-center>.chart-box>#label_percentage_01 {
    width: 16.5%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 0;
}

.box-center>.center-center>.chart-box>#label_percentage_02 {
    width: 16.5%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 16.5%;
}

.box-center>.center-center>.chart-box>#label_percentage_03 {
    width: 16.5%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 33%;
}

.box-center>.center-center>.chart-box>#label_percentage_04 {
    width: 16.5%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 49.5%;
}

.box-center>.center-center>.chart-box>#label_percentage_05 {
    width: 16.5%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 66%;
}

.box-center>.center-center>.chart-box>#label_percentage_06 {
    width: 16.5%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 82.5%;
}


.box-center>.center-bottom>.chart-box {
    width: 80%;
    height: 100%;
    background: #070b12;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.box-center>.center-bottom>.chart-box>#terminalPastHours_01 {
    width: 33%;
    height: 50%;
    background: #070b12;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 0;
}

.box-center>.center-bottom>.chart-box>#terminalPastHours_02 {
    width: 33%;
    height: 50%;
    background: #070b12;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 33%;
}

.box-center>.center-bottom>.chart-box>#terminalPastHours_03 {
    width: 33%;
    height: 50%;
    background: #070b12;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 66%;

}

.box-center>.center-bottom>.chart-box>#terminalPastHours_04 {
    width: 33%;
    height: 50%;
    background: #070b12;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;

}

.box-center>.center-bottom>.chart-box>#terminalPastHours_05 {
    width: 33%;
    height: 50%;
    background: #070b12;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 33%;
}

.box-center>.center-bottom>.chart-box>#terminalPastHours_06 {
    width: 33%;
    height: 50%;
    background: #070b12;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 66%;
}



























