<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <script type="text/javascript" src="../static/js/public/rem.js"></script>
	<script type="text/javascript" src="../static/js/public/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../static/js/public/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/css/logAnalyzeStyle.css">
    <title>>XXXX监控系统平台</title>
</head>
<body style="visibility: hidden;">
	<div class="topTitle">
		<div class="left nav">
            <ul style="margin-right: 2%;margin-left: 1%;">
                <li class="nav_active"><a href="/flow"><i class="nav_1"></i>流量分析</a></li>
                    <li><a href="/suricata"><i class="nav_2"></i>攻击检测</a> </li>
                    <li><a href='/assetManage'><i class="nav_6"></i>资产管理</a> </li>
            </ul>
        </div>
		<div class="center-topTitle">
		    <h1>XXXX监控系统平台</h1>
		</div>
		<div class="right nav">
            <ul style="margin-left: 2%;">
                <li><a href='/logAnalyze'><i class="nav_4"></i>日志分析</a> </li>
                <li><a href="/monitor"><i class="nav_5"></i>监控系统</a> </li>
            </ul>
        </div>
	</div>
    <div class="container-flex" tabindex="0" hidefocus="true">
        <div class="box-left">

            <div class="left-top">
                <div class="title-box">
                    <h6>用于评价部分的统计表</h6>
                </div>
                <div class="chart-box" style="">
                    <div id="evaluationStatistics" style="width:100%;height:90%;"></div>

                </div>
            </div>
            <div class="left-center" class="select">
                <div class="title-box">
                    <h6>告警数量的折线统计</h6>
                </div>
                <div class="chart-box">
                    <div id="numberOfAlarms" style="width:100%;height:90%;margin-top: 10px;"></div>
                </div>
            </div>
            <div class="left-bottom" class="select">
                <div class="title-box">
                    <h6>告警数量新增数量</h6>
                </div>
                <div class="chart-box">
                    <div id="numberOfAlarmsAdded" style="width:100%;height:90%;margin-top: 10px;"></div>
                </div>
            </div>
        </div>
        <div class="box-center">
            <div class="center-top">
                <div class="title-box-center">
				    <h6>以IP为索引的告警数量</h6>
				</div>
                <div class="chart-box">
                    <div id="numberOfAlarms_IP" style="width:100%;height:90%;margin-top: 10px;"></div>
                </div>
            </div>

        </div>
    </div>
</body>

<script type="text/javascript" src="../static/js/logAnalyze/evaluationStatistics.js"></script>
<script type="text/javascript" src="../static/js/logAnalyze/numberOfAlarms.js"></script>
<script type="text/javascript" src="../static/js/logAnalyze/numberOfAlarmsAdded.js"></script>
<script type="text/javascript" src="../static/js/logAnalyze/numberOfAlarms_IP.js"></script>
<script type="text/javascript" src="../static/js/controller_ajax/controller_log.js"></script>

<script type="text/javascript">
    $('document').ready(function () {
        $("body").css('visibility', 'visible');

    })
</script>
</html>