<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <script type="text/javascript" src="../static/js/public/rem.js"></script>
	<script type="text/javascript" src="../static/js/public/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../static/js/public/echarts.min.js"></script>
	<script type="text/javascript" src="../static/js/public/china.js"></script>
    <script type="text/javascript">
        var Display = {
            Data:{{ attackDisplayData|tojson }}
        }
    </script>
    <link rel="stylesheet" href="../static/css/suricataStyle.css">
    <title>>XXXX监控系统平台</title>
</head>
<body style="visibility: hidden;">
	<div class="topTitle">
		<div class="left nav">
            <ul style="margin-right: 2%;margin-left: 1%;">
                <li class="nav_active"><a href="/flow"><i class="nav_1"></i>流量分析</a></li>
                    <li><a href="/suricata"><i class="nav_2"></i>攻击检测</a> </li>
                    <li><a href='/terminalStatus'><i class="nav_6"></i>终端状态</a> </li>
            </ul>
        </div>
		<div class="center-topTitle">
		    <h1>XXXX监控系统平台</h1>
		</div>
		<div class="right nav">
            <ul style="margin-left: 2%;">
                <li><a href='/networkTraffic'><i class="nav_4"></i>网段流量</a> </li>
                <li><a href="/monitor"><i class="nav_5"></i>监控系统</a> </li>
            </ul>
        </div>
	</div>
    <div class="container-flex" tabindex="0" hidefocus="true">
        <div class="box-left">

            <div class="left-top">
                <div class="title-box">
                    <h6>源IP和目的IP</h6>
                </div>
                <div class="chart-box" style="">
                    <div id="srcIp" style="width:50%;height:90%;"></div>
                    <div id="dstIp" style="width:50%;height:90%;"></div>
                </div>
            </div>
            <div class="left-center" class="select">
                <div class="title-box">
                    <h6>攻击流量趋势表</h6>
                </div>
                <div class="chart-box">
                    <div id="suricata_flowTrend" style="width:100%;height:90%;margin-top: 10px;"></div>
                </div>
            </div>
            <div class="left-bottom" class="select">
                <div class="title-box">
                    <h6>正常异常流量趋势图</h6>
                </div>
                <div class="chart-box">
                    <div id="suricata_normalAndAbnormalFlow" style="width:100%;height:90%;margin-top: 10px;"></div>
                </div>
            </div>
        </div>
        <div class="box-center">
            <div class="center-top">
                <div class="title-box-center">
				    <h6>攻击类型统计</h6>
				</div>
				<div class="chart-box">
                    <div class="num">
				        <h1>0</h1>
			        </div>
                    <div class="num">
                        <h1>0</h1>
                    </div>
                    <div class="num">
                        <h1>0</h1>
                    </div>
                    <div class="num">
                        <h1>0</h1>
                    </div>
                    <div class="num">
				        <h1>0</h1>
			        </div>
                    <div class="num">
                        <h1>0</h1>
                    </div>
                    <div class="txt">
                        <h2>Dos攻击</h2>
                    </div>
                    <div class="txt">
                        <h2>暴力破解</h2>
                    </div>
                    <div class="txt">
                        <h2>信息探针</h2>
                    </div>
                    <div class="txt">
                        <h2>木马病毒</h2>
                    </div>
                    <div class="txt">
                        <h2>应用攻击</h2>
                    </div>
                    <div class="txt">
                        <h2>其他攻击</h2>
                    </div>
                </div>
            </div>
			<div class="center-bottom">
                <div class="map_chart-box">
                    <div id="attackDisplay" style="width:100%;height:95%;"></div>
                </div>
			</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/suricata/srcIp.js"></script>
<script type="text/javascript" src="../static/js/suricata/dstIp.js"></script>
<script type="text/javascript" src="../static/js/suricata/suricata_flowTrend.js"></script>
<script type="text/javascript" src="../static/js/suricata/suricata_AbnormalFlow.js"></script>
<script type="text/javascript" src="../static/js/suricata/suricata_attackDisplay.js"></script>
<script type="text/javascript" src="../static/js/controller_ajax/controller_suricata.js"></script>

<script type="text/javascript">
    $('document').ready(function () {
        $("body").css('visibility', 'visible');
    })
</script>
</html>